{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
      <h2>Novo Pedido:</h2>
      <form class="form-horizontal" id="cadastro" method="post" action="/pedido/salvar">
        <div class="form-group">
          <label class="control-label col-sm-2" for="cliente">cliente:</label>
          <div class="col-sm-4">
            <select name="cliente" id="cliente" class="form-control">
            	<option disabled selected required>Selecione</option>
            	{% for cliente in clientes %}
            		<option value="{{ cliente.id }}">{{ cliente.nome }}</option>
            	{% endfor %}
            </select>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>
        </div>
      </form>
    </div>
	{% include 'Common/bottombar.component.twig' %}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/cadastro.js') }}"></script>
{% endblock %}