{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/style.css')}}"/>
{% endblock %}

{% block body %}
	<div class="container">            
    	<h4>Bem vindo ao SAC</h4>
	</div>
	<div class="bg-icon"></div>
{% endblock %}