<div class="container-fluid bottombar">
      <div class="collapse navbar-collapse">
         <button onClick="{{backBtn|default("window.history.back()")}};" style="margin: 5px 0px 5px 0px" class="btn btn-primary navbar-left">Voltar</button>
      </div>
   </div>